@media (prefers-color-scheme: dark) {
    body {
        background-color: #121212;
        color: #ffffff;
        margin: 0;
        padding: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100vh;
    }
}

@media (prefers-color-scheme: light) {
    body {
        background-color: #ffffff;
        color: #000000;
        margin: 0;
        padding: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100vh;
    }
}

.App {
    text-align: center;
    /* Pushes everything down by 10% of the viewport height */
}

a {
    text-decoration: none;
    /* Remove underline */
    color: inherit;
    /* Inherit the default text color */
    font-size: 16px;
    /* Adjust font size */
    margin: 0 15px;
    /* Add spacing between links */
    cursor: pointer;
    /* Ensure it still behaves like a button */
}

a:hover {
    color: #555;
    /* Slight color change on hover */
}

.separator {
    width: 80%;
    /* Full width */
    height: 2px;
    /* Thickness */
    background-color: white;
    /* White color */
    border: none;
    margin-top: 10px;
    /* Space between buttons and line */
}
